.Header {
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #24292e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.Header a {
  color: currentColor;
}
.header-logo-invertocat {
  margin: -1px 15px -1px -2px;
  color: #fff;
  white-space: nowrap;
}
.octicon {
  fill: currentColor;
}
.octicon-star {
  margin-right: 10px;
  color: white;
}
.logotype {
  font-size: 20px;
  color: white;
}
.avatar {
  transition: transform .5s;
}
